<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Personal -->
	<link rel="icon" type="image/png" href="img/logo.png" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<meta charset="UTF-8">
	<title>Welcome</title>

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css" media="screen,projection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<header class="Default-Header">

	<div class="row center-align Default-Frame">
		<img src="img/logo.png" />
		
		<h5>Erro</h5>
		<h6><span class="Failed" th:text="${message}"></span></h6>
	</div>
		
	</header>

	<!-- Materialize CSS -->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>