<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Personal -->
	<link rel="icon" type="image/png" href="img/logo.png" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<meta charset="UTF-8">
	<title>Home</title>

	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css" media="screen,projection" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<header class="Default-Header">
	
	<div class="row center-align Default-Frame">
		<img src="img/logo.png" class="Banner"/>
		<br/>

		<div class="row center-align">
			<a class="btn btn-small btn-flat waves-effect waves-light" type="button" href="/">
				Logout<i class="material-icons small left">power_settings_new</i>
			</a>
		</div>

		<div id="homeContainer" class="Default-Content">
		
			<span>Caso queira aprofundar-se mais sobre o conteúdo da pesquisa leia os artigos abaixo:</span>
			<div class="collection left-align">
				<a href="/pdf/ultra_som_e_calo_osseo_0.pdf" target="blank" class="collection-item">Utility of Diagnostic Ultrasound in Evaluating Fracture Healing</a>
				<a href="/pdf/ultra_som_e_calo_osseo_1.pdf" target="blank" class="collection-item">Ultrasound Monitoring of Fracture Healing: Is This the End of Radiography in Fracture Follow-ups?</a>
				<a href="/pdf/ultra_som_e_calo_osseo_2.pdf" target="blank" class="collection-item">What is the role of ultrasound in fracture management?</a>
				<a th:if="${answerCard == null}" th:href="${(#mvc.url('DC#init').arg(0, participant.id).arg(1, 3)).build()}" onclick="activeLoad()" class="collection-item active">
					Caso esteja pronto clique aqui para começar!
				</a>
				<a th:if="${answerCard != null}" th:href="${(#mvc.url('DC#next').arg(0, answerCard.id)).build()}" onclick="activeLoad()" class="collection-item active">
					Continuar de onde parou.
				</a>
			</div><br/>

		</div>
		
		<div id="loadingImg" class="center-align" style="display: none">
			<img src="img/loading.gif" alt="" width="200" height="173"/>
			<br/><br/>
		</div>

	</div>
		
	</header>

	<script type="text/javascript">
		function activeLoad() {
			document.getElementById('loadingImg').style.display = 'block';
			document.getElementById('homeContainer').hidden = 'true';
		}
	</script>

	<!-- Materialize CSS -->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>