<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Personal -->
<link rel="icon" type="image/png" href="img/logo.png" />
<link rel="stylesheet" type="text/css" href="css/default.css" />
<meta charset="UTF-8">
<title>Termo de uso e proteção de dados</title>

<!-- Materialize CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<header class="Default-Header">

	<div class="row Term-Frame">
		
		<div class="Default-Content">
			<h3 class="center-align">Termo de Uso e Privacidade</h3>
			<p>Com o objetivo de garantir a privacidade e segurança bem como informar os usuários de nosso site quanto a utilização, armazenamento e manuseio de dados pessoais a presente política de uso e privacidade estabelece como será realizado o tratamento dos dados fornecidos bem como diretrizes de responsabilidade de utilização da plataforma.</p>
			<p>Os dados recolhidos por nosso site possuem como controlador e operador o Dr. Pedro Jose Labronici, inscrito no CRM nº 5236825-8, sendo doravante referido como “<strong>Controlador/Operador</strong>”. Ademais, para fins de identificação, considerasse como “<strong>usuário</strong>” aquele que concordar com os termos da presente ao clicar em “Aceito e prosseguir” quando da criação do cadastro.</p>
			<p>As informações recolhidas pelo presente site se enquadram no previsto pelo Art. 4, inciso II, alínea b da lei nº 13.709, de 14 de Agosto de 2018, Lei Geral de Proteção de Dados Pessoais (LGPD). Sendo a responsabilidade do <strong>Controlador/Operador</strong> limitada por este termo bem como a lei supra.</p>
			<p>Os dados fornecidos pelo usuário serão tratados pelo <strong>Controlador/Operador</strong> sendo a este consentido o direito de tratamento dos dados fornecidos pelo <strong>usuário</strong> ao clicar em “Aceito e prosseguir”</p>
			<p>Nos termos da Lei Geral de Proteção de Dados Pessoais (LGPD) o <strong>consentimento</strong> se entende pela manifestação livre, informada e inequívoca através da qual o usuário, ao clicar em “Aceito e prosseguir” autoriza o <strong>Controlador/Operador</strong> a tratar os dados fornecidos através do portal.</p>
			
			<h5>1 – Do tratamento e dados coletados</h5>
			
			<h6>1.1 Dos dados coletados</h6>
			<p>Nosso site coleta e utiliza alguns dados pessoais, voluntariamente fornecidos pelo usuário, quais sejam:</p>
			<ul type="disc">
				<li>O número do CRM do usuário;</li>
				<li>A especialidade médica do usuário;</li>
				<li>O tempo de experiência em sua área de atuação.</li>
			</ul>
			
			<h6>1.2 Do tratamento dos dados</h6>
			<p>Os dados coletados serão tratados pelo <strong>Controlador/Operador</strong> com a finalidade de uso não <strong>econômico e acadêmico</strong>, sendo o uso fora das características indicadas condicionado a prévia autorização do usuário.</p>
			<p>Entende-se por tratamento a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração, entre outros, dos dados fornecidos pelo <strong>usuário</strong>.</p>
			
			<h6>1.3 Do armazenamento dos dados</h6>
			<p>Os dados fornecidos pelo <strong>usuário</strong> serão utilizados e armazenados em banco de dados privado      durante o tempo necessário para as finalidades elencadas na presente Política de Privacidade, considerando os direitos dos titulares dos dados e dos controladores.</p>
			<p>Os dados fornecidos serão mantidos pelo <strong>Controlador/Operador</strong> pelo tempo que o mesmo entender necessário. O <strong>Controlador/Operador</strong> se reserva no direito de, sem prévio aviso ou consentimento, tratar os dados fornecidos.</p>
			
			<h6>1.4 Da segurança quanto ao armazenamento</h6>
			<p>Com o objetivo de garantir a segurança do <strong>usuário</strong>, as informações pessoais fornecidas serão mantidas em ambiente seguro, usando ferramentas físicas, eletrônicas e gerenciais orientadas para a proteção da sua privacidade. Essas ferramentas são aplicadas levando em consideração a natureza dos dados pessoais coletados, o contexto e a finalidade do tratamento.</p>
			<p>O <strong>Controlador/Operador</strong> não se responsabiliza por danos decorrentes de culpa, negligência, imperícia ou imprudência do <strong>usuário</strong>. Ademais informa que, em razão da natureza dos meios digitais e suas constantes expansões e inovações não se responsabiliza por danos decorrentes de ataques cibernéticos ou vazamentos não decorrentes de negligência, imperícia ou imprudência diretamente cometidos pelo <strong>Controlador/Operador</strong>.</p>
			
			<h6>1.5 Do compartilhamento</h6>
			<p>Tendo em vista a preservação de sua privacidade, o <strong>Controlador/Operador</strong> informa que seus dados poderão ser compartilhados, sem aviso prévio, com universidades ou centros de pesquisas nacionais ou internacionais, membros do corpo docente de instituições de ensino ou pesquisadores independentes. sendo mantido os objetivos de utilização de dados previstos no item 1.2, quais sejam o uso <strong>não econômico e acadêmico</strong> dos mesmos.</p>
			<p>O <strong>Controlador/Operador</strong> não se responsabiliza quanto a danos decorrentes do tratamento dos dados por terceiros ou sua negligência, imperícia ou imprudência no tratamento dos dados.  Ademais informa as seguintes hipóteses em que seus dados poderão ser compartilhados, sem prévia autorização, quais sejam:</p>
			<ul type="disc">
				<li>Determinação legal, requerimento, requisição ou ordem judicial, com autoridades judiciais, administrativas ou governamentais competentes;</li>
				<li>Proteção dos direitos do Controlador/Operador em qualquer tipo de conflito, inclusive os de teor judicial.</li>
			</ul>
			
			<h5>2 – Da alteração do presente termo de política de uso e privacidade</h5>
			<p>O <strong>Controlador/Operador</strong> se reserva no direito de alterar, sem aviso prévio, os termos da presente, sendo responsabilidade do usuário se manter informado quanto aos termos e atualizações da presente.</p>
			<p>O <strong>Controlador/Operador</strong> se compromete em caso de alteração do termo de uso e responsabilidade, informar o <strong>usuário</strong> quanto a mesma através de sua plataforma, não estando a utilização dos dados fornecidos condicionada ao prévio consentimento dos novos termos, ressalvado os casos de alteração da finalidade de uso dos dados.</p>
			
			<h5>3 – Da revogação do consentimento ou anonimização dos dados</h5>
			<p>A revogação do consentimento ou anonimização dos dados fornecidos pelo <strong>usuário</strong> poderá ser realizada a qualquer momento, sem ônus ao mesmo através dos canais de atendimento fornecidos pelo <strong>Controlador/Operador, quais sejam</strong>:</p>
			<ul>
				<li>(24) 99961-9191;</li>
				<li>plabronici@globo.com</li>
			</ul>
			
			<h5>4 – Da solução de conflitos e contato</h5>
			<p>Para esclarecer qualquer dúvida sobre as políticas de privacidade ou os dados pessoais tratados entre em contato com o <strong>Controlador/Operador</strong> através dos canais fornecidos abaixo.</p>
			<ul>
				<li>(24) 99961-9191;</li>
				<li>plabronici@globo.com</li>
			</ul>
			
		</div>
	
	</div>
		
	</header>

	<!-- Materialize CSS -->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>